* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.showcase {
  background-image: url("../assets/assets/images/homepageslide1.jpg");
  min-height: 350px;
  background-size: cover;
  /* width: 600px; */
}

.container {
  width: 90%;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

header #logo {
  object-fit: contain;
  width: 200px;
}
header #hamburger {
  object-fit: contain;
  width: 30px;
}

.showcase-text {
  color: #fff;
  padding: 220px 0px 0px 20px;
  font-size: 1em;
  letter-spacing: -0.5px;
}
.showcase-text h3 {
  padding: 5px 0px;
  font-size: 1em;
  margin-left: -3px;
}

/*SHOWCASE AREA ENDS HERE

 .showcase-text p:nth-child(2) {
  font-weight: 600;
  padding: 5px 0px;
  font-size: 18px;
} 
*/

main {
  margin-top: 20px;
}
main #forward-carret {
  margin-left: -15px;
}

main > h4 {
  display: inline-block;
  position: relative;
  top: -15px;
  font-size: 1.3em;
  font-weight: 600;
  margin-left: -10px;
}

main > p {
  font-size: 16px;
  line-height: 1.5em;
  margin-top: 20px;
  margin-bottom: 20px;
}

main > h3 {
  font-weight: 500;
  text-shadow: 0.4px 0.4px 0.4px black;
}
main > ul {
  margin-left: 20px;
}
main ul li {
  padding: 20px 0px;
  list-style-type: none;
}

main ul li img {
  position: relative;
  top: 10px;
  margin-right: 10px;
}

/* BOXES STARTS FROM HERE */

.boxes {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

main .box1,
main .box2,
main .box3,
main .box4 {
  padding: 10px 10px 0px 10px;
  flex-basis: 260px;
  min-height: 100px;
  border-radius: 5px;
  border: 2px solid #000;
  /* flex-grow: 1; */
  text-align: center;
}

.box1 h2,
.box2 h2,
.box3 h2,
.box4 h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.box1 p,
.box2 p,
.box3 p,
.box4 p {
  text-align: left;
}

main .box3 {
  flex-basis: 220px;
}
.our-services {
  margin-top: 30px;
  text-align: center;
}
.our-services h1 {
  display: inline-block;
  position: relative;
  top: -15px;
  font-weight: 500;
}

/*USELESS CODE BELOW

.our-services .services-photos {
}

.our-services .services-photos img {
  background-color: red;
  border-radius: 5px;
  padding: 70px;
  width: 150px;
  height: 170px; 
}

.our-services h3 {
  display: inline;
  bg
}

.services-photos #first-pic {
  background-color: red;
  width: 50%;
  text-align: left;
  padding: 20px 90px; 
}
.services-photos #first-pic h3 {
  text-align: left;
  padding: 20px;
} 

USELESS CODE ENDS HERE */

.our-services .services-photos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  color: #fff;
}
.our-services .services-photos div {
  background-color: red;
  border-radius: 8px;
  padding: 20px 0px;
}
.our-services .services-photos div img {
  width: 50px;
  padding: 10px 0px;
}

/* Working Process Starts from here */

.working-process {
  text-align: center;
  margin-bottom: 100px;
}

.working-process .how-we-work > h6 {
  margin: 50px 0px;
  font-size: 17px;
}
.how-we-work {
  text-align: center;
}
.how-we-work h1 {
  display: inline-block;
  position: relative;
  top: -15px;
  margin-bottom: 20px;
}

.working-process img {
  display: block;
  width: 100px;
  margin: 20px auto;
}
.working-process #carret {
  width: 50px;
  margin: 0px;
  display: inline-block;
}

.working-process h3 {
  margin: 15px 0px;
}
.working-process p {
  text-align: left;
  font-size: 14px;
}

.working-process hr {
  margin: 20px 0px;
  height: 3px;
  background-color: #000;
}
.clients {
  text-align: center;
  margin-bottom: 50px;
}

.clients h2 {
  margin-bottom: 50px;
  font-size: 1.9em;
}

.clients img {
  width: 48%;
  margin: 10px 2px;
}

/* FOOTER STARTS FROM HERE */

footer {
  text-align: left;
  background-color: #343434;
  color: #fff;
  padding: 50px 0px;
}

/*USELESS CODE

.collab {
  display: inline-block;
  text-align: right;
  margin-left: 10%;
  padding: 50px;
}

footer h2 {
  display: inline-block;
  font-size: 16px;
}
.collab h3 {
  background-color: #fff;
  color: black;
}
.collab img {
  position: relative;
  left: -150px;
  top: 20px;
} 
USELESS CODE ENDS HERE
*/

.collab {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collab h3 {
  font-size: 18px;
  font-weight: normal;
}

.collab h4 {
  background-color: white;
  padding: 20px 20px 20px 30px;
  color: black;
  border-radius: 5px;
  font-weight: lighter;
  font-size: 16px;
}
/* .collab img {
  position: relative;
  /* top: 20px; 
  left: 40px;
  width: 20px;
  height: 20px;
} */
footer hr {
  margin: 20px 0px;
  height: 2px;
  background-color: white;
  color: white;
}
footer p {
  margin: 40px 0px;
}

footer .container > img {
  width: 80%;
  /* color: white; */
  /* background-color: #fff; */
  /* padding: 10px 50px; */
}

footer p {
  line-height: 23px;
}

footer ul li {
  list-style: none;
  padding-left: 20px;
  line-height: 30px;
  /* text-align: left; */
}

footer h3 {
  margin: 20px 0px;
}

footer ul #location {
  line-height: normal;
  margin: 5px 0px;
}

footer #rights {
  text-align: center;
}

footer .contact-ul img {
  margin-right: 20px;
}

/* FOOTER ENDS HERE */

@media (min-width: 768px) {
  main .boxes {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    column-gap: 20px;
  }
  .showcase-text {
    font-size: 1.5em;
    /* color: black; */
    position: relative;
    top: 100px;
  }
  .showcase {
    background-image: url("../assets/assets/images/homepageslide1.jpg");
    background-size: cover;
    height: 55vh;
  }
  footer img.logooo {
    width: 60%;
  }
  .clients img {
    width: 25%;
    margin: 10px 2px;
  }
}

@media (min-width: 1207px) {
  main .boxes {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    column-gap: 20px;
  }
  main ul {
    width: 30%;
    float: left;
  }

  .our-services .services-photos {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 500px;
  }
  .our-services .services-photos div {
    padding: 20px;
  }
  .showcase {
    background-image: url("../assets/assets/images/homepageslide1.jpg");
    background-size: cover;
    height: 70vh;
  }
  .showcase-text {
    font-size: 1.8em;
    /* color: black; */
    position: relative;
    top: 220px;
    margin-left: 120px;
    text-shadow: 1px 1px 1px white;
  }
  .clients img {
    width: 15%;
    margin: 10px 2px;
  }
  footer img.logooo {
    width: 20%;
  }
}
